/* --- general ---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  */
    border: 1px solid black;
    /*  */
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
/* float */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.float-l {
    float: left;
}
.float-r {
    float: right;
}
/* /float */
/* link */
a {
    text-decoration: none;
}
/* link */
/* margin */
.pdl-1 {
    padding-left: 1em;
}
.pdl-2 {
    padding-left: 2em;
}
.pdr-1 {
    padding-right: 1em;
}
/* margin */
/* --- /general ---/

/* --- header section ---*/
nav {
    display: inline-block;
    position: fixed;
    top:0;
    left:0;
    height: 4.5em;
    line-height: 4.5em;
    width: 100vw;
    color: black;
    overflow: hidden;
    font-size: 0.9em;
    font-weight: bold;
}
nav a:visited {
    color: black;
}


/* allineamento e dimensioni  */
nav .float-l,
nav .float-r {
    height: 100%;
}
nav .float-l {
    width: 65%;
}
nav .float-r {
    width: 35%;
}
nav .float-l > img,
nav [class^="float"] > a {
    vertical-align: middle;
}
/* /allineamento  */