/* --- general ---*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
}
a:visited {
    color: black;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.width-80 {
    width: 80%;
}
.width-70 {
    width: 70%;
}
:root {
    --blue-color: #297afe;
}
/* button */
.btn-blue {
    background-color: var(--blue-color);
}
.btn-short {
    padding: 0.3em 1em;
}
.btn-medium {
    padding: 0.3em 2.25em;
}
.btn-long {
    padding: 0.3em 3.5em;
}
/* button */

/* link acquista ora */
.buy-now {
    color: var(--blue-color);
    text-decoration: underline;
}
.buy-now:visited {
    color: var(--blue-color);
}
/* link acquista ora */

/* /border */
.brd-1 {
    border: 1px solid black;
}
/* /border */