/* --- general ---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
/* float */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.float-l {
    float: left;
}
.float-r {
    float: right;
}
/* /float */
a {
    text-decoration: none;
}
/* --- /general ---/

/* --- header section ---*/
nav {
    display: inline-block;
    position: fixed;
    top:0;
    left:0;
    height: 3em;
    line-height: 3em;
    width: 100vw;
    color: black;
}
nav .float-l,
nav .float-r {
    height: 100%;
}
nav .float-l  * {
    padding: 0 0.7em 0 0.5em;
}
img {
    vertical-align: middle;
}
nav ul,
nav li {
    vertical-align: middle;
    display: inline-block;
    list-style-type: none;
}
nav a:visited {
    color: black;
}